* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Baloo 2', cursive;
	scroll-behavior: smooth;
}

body {
	background: #fff;
}

.text-white {
	color: #fff;
}

.text-light {
	color: #ddd;
	transition: all 0.3s ease;
}

.text-justify {
	text-align: justify;
}

.text-light:hover {
	color: #fff;
	transition: all 0.3s ease;
}

nav {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	justify-content: space-around;
	align-items: center;
	background: #000;
	min-height: 50px;
	box-shadow: 0px 5px 5px 0px #888888; /* left top blur scale */
	line-height: 50px;
	z-index: 9999;
}

.brand {
	float: left;
	margin: 5px 0px 0px 10px;
	background: url('../img/logo.png');
	background-size: contain;
	background-position: center;
	width: 80px;
	height: 42px;
	cursor: pointer;
}

.nav-links {
	float: right;
}

.nav-links li {
	list-style: none;
	display: inline-block;
	width: 120px;
	text-transform: uppercase;
	text-align: center;
}

.nav-links a {
	text-decoration: none;
	color: lightblue;
	transition: all 0.3s ease;
}

.nav-links li:hover a {
	color: #fff;
	transition: all 0.3s ease;
}

.mobileBar {
	cursor: pointer;
	display: none;
	margin: 10px;
}

.mobileBar div {
	background: #ddd;
	border-radius: 5px;
	width: 25px;
	height: 3px;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}

	.mobileBar {
		display: block;
		position: absolute;
		right: 10px;
	}

	.nav-links {
		position: absolute;
		top: 50px;
		height: calc(100vh - 50px);
		right: 0px;
		background: rgba(0, 0, 0, 0.8);
		text-align: center;
		justify-content: initial;
		width: 200px;
		transform: translateX(100%);
		transition: transform 0.2s ease-in;
	}

	.nav-links li {
		opacity: 1;
		margin: 20px 0px;
	}
}

.nav-active {
	transform: translateX(0%);
}
.toggle .bar1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .bar2 {
	opacity: 0;
}
.toggle .bar3 {
	transform: rotate(45deg) translate(-5px, -6px);	
}

.call-action {
	font-size: 45px;
	transition: all 0.5s ease;
	padding: 5px 0px;
	animation: callAction 0.5s infinite;
}

.call-action a {
	color: white;
}

@keyframes callAction {
	from {
		padding-top: 0px;
		padding-bottom: 10px;
	}
	to {
		padding-top: 10px;
		padding-bottom: 0px;
	}
}

/*=============== main style ================*/
section#home, section#about {
}

section#home {
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url('../img/bg-main.jpg');
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

/* ================ SECTION MAIN ========================= */
section#home > div {
	padding: 45vh 0vh 42vh 0vh;
	text-align: center;
}

section#home h2 {
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 3px orange;
}

.line-break {

	max-width: 120px;
	height: 2px;
	margin: 2px auto;
	background: #ccc;
	clear: both;
}

.em {
	color: #1596d3;
}

#tagLine {
	font-size: 22px;
	transform: scale(.8);
}

#tagLine:hover {
	transform: scale(1);
}

@media screen and (max-width: 768px) {
	section#home h2 {
		font-size: 35px;
	}
}

/*=============== SECTION PROJECTS ================*/
#projects {
	background: #fff;
}

#projects .content {
	width: 100%;
	margin: 0px auto;
}

#projects .content:first-child {
	padding-top: 50px;
}

#projects .half {
	border-radius: 5px;
	float: left;
	width: 48%;
	margin: 5px 1%;
	padding: 20px;
	background-size: cover;
	background-position: center;
	height: 380px;
}

#projects .half .cover {
	border-radius: 5px;
	background: #000c;
	padding: 20px;
	height: 100%;
	color: white;
	opacity: 0;
	transition: all 0.3s ease;
}

#projects .half .cover:hover {
	opacity: 1;
	transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
	#projects .half {
		width: 100%;
		padding: 10px;
	}
}

/*=============== SECTION ABOUT ================*/

#about .content {
	width: 100%;
	margin: 0 auto;
}

#about .content .half {
	float: left;
	padding: 50px;
	width: 50%;
}

@media screen and (max-width: 768px) {
	#about .content .half {
		width: 100%;
	}

	#about .content .half:first-child {
		margin-bottom: -60px;
	}
}

table thead {
	background: #ddd;
}

table th {
	padding: 5px;
	padding-left: 10px;
}

/*=============== footer style ================*/

footer {
	clear: both;
	padding: 10px 0px;
	text-align: center;
	background: #000;
	color: #999;
}

.social-links a, .footer-links a {
	text-decoration: none;
	color: #ccc;
	padding: 0px 10px;
}

.social-links a:hover, .footer-links a:hover {
	color: #fff;
}